/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
} */

@media only screen and (max-width: 1024px) {
    footer {
        position: relative;
        top:50px;
    }
    .footer-big-text{
        position: relative;
        top:7px;
    }
  }
  @media only screen and (max-width: 768px) {
    footer {
        position: relative;
        top:50px;
        width: 979px;
    }
    .footer-big-text{
        position: relative;
        top:7px;
    }
    .lorem-text{
        position: relative;
        top: -35px;
    }
  }